<nav>
 <a href="/">{{shop.name | escape}}</a>

 <ul>
  {%- for link in linklists.main-menu.links -%}
   <li>
    <a href="{{link.url}}">{{ link.title | escape }}</a>
   </li>
  {% endfor %}
 </ul>
</nav>